
*.xcscheme

*.xcsettings

LikeLik.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/LikeLik.xcscheme

*.xcscheme

LikeLik.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/LikeLik.xcscheme

LikeLik.xcodeproj/xcuserdata/alex.xcuserdatad/xcschemes/xcschememanagement.plist
