<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>parig.png</string>
		<key>name_EN</key>
		<string>Paris</string>
		<key>name_DE</key>
		<string>Paris</string>
		<key>name_RU</key>
		<string>Париж</string>
	</dict>
	<dict>
		<key>img</key>
		<string>rim.png</string>
		<key>name_EN</key>
		<string>Rome</string>
		<key>name_DE</key>
		<string>Rom</string>
		<key>name_RU</key>
		<string>Рим</string>
	</dict>
	<dict>
		<key>img</key>
		<string>keln.png</string>
		<key>name_EN</key>
		<string>Cologne</string>
		<key>name_DE</key>
		<string>Köln</string>
		<key>name_RU</key>
		<string>Кёльн</string>
	</dict>
	<dict>
		<key>img</key>
		<string>london.png</string>
		<key>name_EN</key>
		<string>London</string>
		<key>name_DE</key>
		<string>London</string>
		<key>name_RU</key>
		<string>Лондон</string>
	</dict>
	<dict>
		<key>img</key>
		<string>berlin.png</string>
		<key>name_EN</key>
		<string>Berlin</string>
		<key>name_DE</key>
		<string>Berlin</string>
		<key>name_RU</key>
		<string>Берлин</string>
	</dict>
	<dict>
		<key>img</key>
		<string>venec.png</string>
		<key>name_EN</key>
		<string>Venice</string>
		<key>name_DE</key>
		<string>Venedig</string>
		<key>name_RU</key>
		<string>Венеция</string>
	</dict>
	<dict>
		<key>img</key>
		<string>praga.png</string>
		<key>name_EN</key>
		<string>Prague</string>
		<key>name_DE</key>
		<string>Prag</string>
		<key>name_RU</key>
		<string>Прага</string>
	</dict>
	<dict>
		<key>img</key>
		<string>erevan.png</string>
		<key>name_EN</key>
		<string>Yerevan</string>
		<key>name_DE</key>
		<string>Yerevan</string>
		<key>name_RU</key>
		<string>Ереван</string>
	</dict>
	<dict>
		<key>img</key>
		<string>piter.png</string>
		<key>name_EN</key>
		<string>Saint Petersburg</string>
		<key>name_DE</key>
		<string>Sankt Petersburg</string>
		<key>name_RU</key>
		<string>Санкт-Петербург</string>
	</dict>
	<dict>
		<key>img</key>
		<string>milan.png</string>
		<key>name_EN</key>
		<string>Milan</string>
		<key>name_DE</key>
		<string>Milan</string>
		<key>name_RU</key>
		<string>Милан</string>
	</dict>
	<dict>
		<key>img</key>
		<string>hels.png</string>
		<key>name_EN</key>
		<string>Helsinki</string>
		<key>name_DE</key>
		<string>Helsinki</string>
		<key>name_RU</key>
		<string>Хельсинки</string>
	</dict>
	<dict>
		<key>img</key>
		<string>ufa.png</string>
		<key>name_EN</key>
		<string>Ufa</string>
		<key>name_DE</key>
		<string>Ufa</string>
		<key>name_RU</key>
		<string>Уфа</string>
	</dict>
	<dict>
		<key>img</key>
		<string>bars.png</string>
		<key>name_EN</key>
		<string>Barcelona</string>
		<key>name_DE</key>
		<string>Barcelona</string>
		<key>name_RU</key>
		<string>Барселона</string>
	</dict>
	<dict>
		<key>img</key>
		<string>kiev.png</string>
		<key>name_EN</key>
		<string>Kiev</string>
		<key>name_DE</key>
		<string>Kiev</string>
		<key>name_RU</key>
		<string>Киев</string>
	</dict>
	<dict>
		<key>img</key>
		<string>tbili.png</string>
		<key>name_EN</key>
		<string>Tbilisi</string>
		<key>name_DE</key>
		<string>Tbilisi</string>
		<key>name_RU</key>
		<string>Тбилиси</string>
	</dict>
</array>
</plist>
